.workout-image {
    height: 45vh;
    width: 20vw;
    /* border-radius: 8px; */
    /* box-shadow: 5px 5px 5px lightgray; */
}

.discover-workout-container {
    display: flex;
    flex-direction: column;
}

.workout-list-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.workout-list-item:hover{
    background-color: #ffef9f;
}

.workout-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 85vw;
    /* border: 2px solid gold; */
    justify-content: center;
}

.workout-motivation span {
    color: white;
}

.workout-description {
    width: 20vw;
}

.workout-title {
    font-size: 4vh;
    padding-bottom: 5px;
    text-align: center;
    width: 80%;
}

.workout-top-message {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    padding-top: 15px;
}

.discover-workout-motivation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid hotpink; */
}

.workout-header{
    font-size: 30px;
    padding-bottom: 15px;
}

.workout-message-content {
    font-size: 20px;
}
/* .workout-img-arnold {
    height: 150px;
    width: 150px;
    border-radius: 50%;
} */
/* .workout-motivation {
    font-size: 3vh;
    padding: 20px 20px 20px 20px;
    position: absolute;
    color: white;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
} */

/* .workout-video-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
} */

/* .workout-banner {
    height: 80vh;
    width: 85vw;
} */

