.workout-image {
    height: 45vh;
    width: 20vw;
}

.discover-workout-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.workout-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.workout-list-item:hover{
    background-color: #ffd394;
}



.workout-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 85vw;
    justify-content: center;
}

.workout-motivation span {
    color: white;
}

.workout-description {
    width: 20vw;
    color: gray;
}

.workout-title {
    font-size: 4vh;
    padding-bottom: 5px;
    text-align: center;
    width: 80%;
}

.workout-top-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.discover-workout-motivation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout-header{
    font-size: 30px;
    padding-bottom: 15px;
}

.workout-message-content {
    font-size: 20px;
    color: gray;
}
