/* .feed-item {
    border-radius: 25px;
    height: 60px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: 'Ubuntu';
    background-color: hsl(166, 100%, 93%);
}

.feed-item:hover{
    background-color: hsl(273, 100%, 93%);
}

#feed {
    font-size: 32px;
    margin: 20px;
    text-decoration: underline;
} */

.feed-container {
    padding: 20px;
}


#feed {
    font-weight: bolder;
    text-decoration: underline ;
    font-size: 24px;
}

.feed-item {
    border: 1px solid blue;
    height: 100px;
    margin-top: 10px;
    width: 50%;
}