.footer {
    font-size: 14px; 
    display: flex; 
    flex-direction: row;
    padding: 10px; 
    padding-top: 20px; 
    font-family: 'Ubuntu', sans-serif;
    color: #028476; 
    line-height: 130%;
    justify-content: center;
    border-top: 2px solid lightgray;
    background-color: #E7E9EB;
}

.footer-tech {
    padding-left: 10px; 
    width: 300px; 
}

.footer-tech h1 {
    margin-bottom: 10px; 
    font-size: 18px; 
    font-weight: bolder; 
}

.footer-tech p {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px; 
}

.footer-peers {
    width: 400px;
}

.footer-peers h1 {
    margin-bottom: 10px; 
    font-size: 18px; 
    font-weight: bolder; 
}

.footer-peers p {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px; 
}

.footer-connect {
    width: 400px;
    display: flex;
    flex-direction: column;
    font-size: 22px; 
    font-weight: bolder;
    color: #028476; 
}

.socials {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px; 
    margin-top: 10px; 
    border-radius: 20px;
    font-size: 14px; 
    width: 90%;
    font-weight: normal; 
}

.fa {
    padding: 10px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px; 
    color: #FB8B24;
    border: solid #FB8B24 2px;
}

.footer-header {
    color: #028476;
    font-weight: bolder;
}