.home-container {
    border: 1px solid green
}


.home-main {
    border: 1px solid goldenrod;
    display: flex;
    flex-direction: row;
    height: 1200px;
}

.left-nav {
    border:  1px solid burlywood;
}

.middle-console {
    width: 100%;
    height: 100%;
}