/* .left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 130%; 
    width: 100%; 
    background-color: hsl(166, 100%, 93%);
    color: #028476; 
    padding-left: 8px; 
}

.discovery {
    margin-top: 10px; 
    margin-bottom: 20px;
}

.left-buddies {
    margin-bottom: 20px;
}

.featured-buddies {
    margin-bottom: 20px; 
}

.gym {
}

.left-titles {
    color: grey;
    font-weight: bold;
    margin-bottom: 10px; 
}

.left-links {
    margin-bottom: 5px; 
}

.left-links:hover{
    background-color: #ffcb69;
    cursor: pointer;
    border: 3px #ffcb69 solid; 
    border-radius: 6px; 
    padding: 3px; 
}
 */

 .left-container {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 10px;
     font-size: 18px;
     height: 600px;
 }

.discovery {
    padding: 5px;
}

.left-titles {
    margin-bottom: 5px;
    background-color: #028476;
    color: white;
    padding-left: 5px;
}

.left-links {
    margin-bottom: 5px;
    padding: 5px;
}

.left-links:hover {
    background-color: #028476;
    color: white;
    border-radius: 10px;
}