.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discovery {
    margin-bottom: 20px;
}

.left-buddies {
    margin-bottom: 20px;
}

.gym {
}

.left-titles {
    color: grey;
    font-weight: bold;
}

.left-links:hover{
    background-color: rgb(182, 179, 179);
    cursor: pointer;
}

