.mealplan-pre-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealplan-pre-head{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 6vh;
    font-weight: bolder;
    color: #028476;
}

.mealplan-pre-bot{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mealplan-pre-bot > a{
    margin: 25px;
}

.mealplan-inner-link{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealplan-pre-link{
    width: 23vw;
}

.mealplan-pre-link:hover{
    background-color: #ffcb69;
    border-radius: 15px;
}

.mealplan-photo{
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.mealplan-pre-name{
    margin-top: 10px;
    text-align: center;
    width: 300px;
    font-size: 3vh;
}

.mealplan-pre-type{
    text-align: center;
    margin-top: 10px;
}

.mealplan-pre-desc{
    text-align: center;
    margin-top: 10px;
    width: 300px;
    color: gray;
}