.mealplan-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #a0ddd0;
}

.mealplan-title{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(247, 247, 125);
}

.mealplan-description{
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 152, 67);
}

.mealplan-goal-head{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(247, 247, 125);
    font-size: 20px;
}

.mealplan-type{
    margin-top: 8px;
}

.mealplan-desc-head{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(247, 247, 125);
    margin-top: 15px;
    font-size: 20px;
}

.mealplan-desc{
    margin-top: 8px;
    width: 400px;
    text-align: center;
}

.mealplan-nutrition{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 152, 67);
}

.mealplan-nutri-head{
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(247, 247, 125);
    font-size: 20px;
}

.mealplan-calories{
    margin-top: 8px;
}

.mealplan-button{
    color: #B7E4C7;
    background-color: #028476;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    margin: 10px; 
    padding: 5px; 
    font-size: 16px; 
    font-weight: bolder; 
}

.mealplan-button:hover{
    cursor: pointer;
    color: #028476;
    background-color: #B7E4C7;
}