.top-nav {
    /* border: 1px solid hotpink; */
    background-color: #028476;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 24px;
    /* color: white; */
}


.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.top-right button{
    border: none;
    background-color: #028476;
    color: black;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px; 
    padding: 8px; 
}

.top-button {
    padding: 8px; 
    border-radius: 10px; 
    
}

.top-right button:hover {
    background-color: #FF5349; 
    /* border: 3px #FB8B24 solid; 
    border-radius: 6px; */
    color: #DDFFF7; 
}

.top-button:hover {
    background-color: #FF5349;
    /* border: 3px #FB8B24 solid; 
    border-radius: 6px; */
    color: #DDFFF7; 
    
}
