/* .top-nav {
    background-color: #028476;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 24px;
}

.top-nav div {
    padding: 8px; 
}

.top-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left > * {
    margin-left: 8px; 
}

.top-left > *:hover {
    color: #028476; 
    background-color: #DDFFF7;
    border-radius: 10px;
    padding: 8px;
}

.top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.top-right > * {
    color: #DDFFF7;
    margin-left: 50px; 
    padding: 8px; 
}

.top-right > *:hover {
    color: #028476; 
    background-color: #DDFFF7;
    border-radius: 10px;
    padding: 8px; 
}

.top-right button{
    border: none;
    background-color: #028476;
    color: #DDFFF7; 
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px; 
    padding: 8px; 
} */

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-left: 15px;
    font-size: 24px;
    border-bottom: 1px solid rgb(219, 218, 218);
    background-color: #028476;
}

.top-left {
    padding: 8px;
}

.top-left a {
    color: white;
}

.top-right {
    padding: 8px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.top-right-btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    font-size: 18px;
    color: white;
}

.top-right-btn:hover {
    background-color: #DDFFF7;
    color: #028476;
}



