/* corresponds to both usersProfile and Profile  */

.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 130%; 
}

.profile-top{
    width: 100%;
    /* background-color: #B7E4C7;  */
    color: #028476;  
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.profile-top p {
    font-weight: bolder; 
}

.profile-top button {
    color: #B7E4C7;
    background-color: #028476;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    width: 80px;
    height: 40px;
    margin: 15px; 
    padding: 5px; 
    font-size: 16px; 
    font-weight: bolder; 
}

.profile-top button:hover {
    color: #028476;
    background-color: #FF5349;
}

.profile-top h3 {
    font-size: 18px; 
}

.profile-btm {
    display: flex;
    flex-direction: column;
    height: 90%;
    color: #fb8b24;
}


.profile-btm div {
    width: 100%;
}

.profile-bottom-top {
    /* background-color: #ffcb69; */
    color: #DDFFF7; 
    padding: 10px; 
    border-bottom: 1px solid lightgray;
}

.profile-bottom-bottom {
    /* background-color: #FF5349; */
    color: #DDFFF7; 
    padding: 10px; 
}

.profile-workout-pic {
    width: 20vw;
    height: 40vh;
    border-radius: 12px;
    box-shadow: 5px 5px 5px lightgray;
}

.profile-workout-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.profile-workout-item {
    width: 20vw;
    padding-right: 20px;
}

.profile-workout-title {
    font-size: 4vh;
}

.profile-workout-description {
    color: gray;
}

.profile-myworkouts {
    font-size: 6vh;
}

.checkout-workout {
    color: #003049;
    font-size: 5vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

.delete-workout-button {
    background-color: red;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}