/* corresponds to both usersProfile and Profile  */

.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 130%; 
}

.profile-top{
    width: 100%;
    background-color: #B7E4C7; 
    color: #028476;  
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-top p {
    font-weight: bolder; 
}

.profile-top button {
    color: #B7E4C7;
    background-color: #028476;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    width: 80px;
    height: 40px;
    margin: 15px; 
    padding: 5px; 
    font-size: 16px; 
    font-weight: bolder; 
}

.profile-top button:hover {
    color: #028476;
    background-color: #FF5349;
}

.profile-top h3 {
    font-size: 18px; 
}

.profile-btm {
    display: flex;
    flex-direction: column;
    height: 90%;
    color: #fb8b24;
}

.profile-bottom-top {
    background-color: #ffcb69;
    color: #DDFFF7; 
    padding: 10px; 
}

.profile-bottom-bottom {
    color: #DDFFF7; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-button{
    color: #B7E4C7;
    background-color: #028476;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    margin: 10px; 
    padding: 5px; 
    font-size: 16px; 
    font-weight: bolder; 
}

.create-button:hover{
    cursor: pointer;
    color: #028476;
    background-color: #B7E4C7;
}

