.splash-container button{
    cursor: pointer;
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-banner {
    width: 99vw;
    z-index: -1;
}

.splash-header-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-buttons {
    width: 20vh;
    height: 4vh;
    display: flex;
    justify-content: space-around;
}

.header-signup {
    color: white;
    background-color: #b7e4c7;
    width: 5vw;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
}

.header-logo {
    padding-left: 5px;
}

.header-login {
    color: white;
    background-color: #ffcb69;
    border: none;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    width: 5vw;
}

.header-git {
    color: #b7e4c7;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

.header-fit {
    color: #ffcb69;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
}

.splash-body {
    padding-top: 10px;
    width: 100%;
}

.splash-body-content-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.splash-content-images {
    display: flex;
    justify-content: space-around;
    width: 99%;
}

.splash-athlete {
    height: 100%;
    width: 30%;
}

.splash-message {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.splash-message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.get-fit-title {
    color: #028476;
    font-family: 'Ubuntu', sans-serif;
    font-size: 7vw;
    padding-bottom: 10px;
}

.get-fit-message {
    color: #028476;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2vw;
}

.eat-healthy-message-content{
   display: flex;
   justify-content: center;
   padding-bottom: 10px;
}

.eat-healthy-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.eat-healthy-title {
    color: #FF5349;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vw;
    padding-bottom: 10px;
}

.eat-healthy-para {
    color: #FF5349;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vh;
}

.meal-prep-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.meal-prep-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.meal-prep-image {
    width: 23%;
    height: 90%;
    border-radius: 50%;
}

.meal-prep-image:hover {
    width: 25%;
    height: 100%;

}

.video-container {
    display: flex;
    justify-content: center;
}

.video-banner-bottom {
    width: 98vw;
}

.splash-bottom-container {
    display: flex;
    justify-content: center;
}

.bottom-message {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vw;
    padding-top: 15px;
    padding-bottom: 15px;
}