.workout-show-container {
    display: flex;
    flex-direction: column;
}

.workout-show-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.workout-show-video {
    height: 80vh;
    width: 85vw;
}

.workout-grind {
    font-size: 3vh;
    padding: 20px 20px 20px 20px;
    position: absolute;
    color: white;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout-show-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42vw;
    padding-bottom: 15px;
}

.workout-show-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85vw;
    padding-top: 30px;
}

.workout-show-image {
    height: 45vh;
    width: 41vw;
    border-radius: 16px;
    box-shadow: 5px 5px 5px gray;
}

.exercise-details {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.exercise-details span {
    font-size: 2vh;
}

.workout-show-title {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.workout-show-title span {
    font-size: 5vh;
}

.workout-show-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-workout-button {
    background-color: #028476;
    color: white;
    border-radius: 8px;
    border: none;
    height: 5vh;
    width: 20vw;
    font-size: 4vh;
 
}