.workout-show-container {
    display: flex;
    flex-direction: column;
}

.workout-show-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.workout-show-video {
    height: 80vh;
    width: 85vw;
}

.workout-grind {
    font-size: 3vh;
    padding: 20px 20px 20px 20px;
    position: absolute;
    color: white;
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.workout-show-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42vw;
    padding-bottom: 15px;
}

.workout-show-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85vw;
    padding-top: 30px;
}

.workout-show-image {
    height: 45vh;
    width: 41vw;
    border-radius: 16px;
    box-shadow: 5px 5px 5px gray;
}