.workout-show-container {
    display: flex;
    flex-direction: column;
}

.workout-show-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42vw;
    padding-bottom: 15px;
}

.workout-show-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85vw;
    padding-top: 30px;
}

.workout-show-image {
    height: 35vh;
    width: 35vw;
}

.exercise-details {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 35vw;
}

.exercise-details span {
    font-size: 2vh;
}

.workout-show-title {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.workout-show-title span {
    font-size: 5vh;
}

.workout-show-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-workout-button {
    background-color: #fb8b24;
    color: white;
    border-radius: 8px;
    border: none;
    height: 5vh;
    width: 20vw;
    font-size: 4vh;
    cursor: pointer;
}

.exercise-name {
    color: #028476;
    padding-bottom: 5px;
}

.workout-show-description {
    color: gray;
    padding-top: 10px;
    width: 75%;
    text-align: center;
}